In [2]:
# Shabang

import matplotlib.pyplot as plt 
import pandas as pd
import streamlit as st
import numpy as np
import matplotlib
import seaborn as sns

In [125]:
st.set_option('deprecation.showPyplotGlobalUse', False)
st.title("World Bank Reserves")

In [75]:
df_data=pd.read_csv('COFER_12-27-2020 06-41-57-24.csv')

df_data.describe()

       Country Code  Time Period         Value  Status  Unnamed: 7
count   1241.000000  1241.000000  1.241000e+03     0.0         0.0
mean      94.318292  2005.423852  5.778115e+11     NaN         NaN
std       83.038212     6.848420  1.587418e+12     NaN         NaN
min        1.000000  1995.000000  2.700590e-02     NaN         NaN
25%        1.000000  1999.000000  6.074388e+00     NaN         NaN
50%      110.000000  2005.000000  2.479180e+09     NaN         NaN
75%      200.000000  2011.000000  2.379813e+11     NaN         NaN
max      200.000000  2019.000000  1.182618e+13     NaN         NaN

In [76]:
df_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Time Period', 'Value', 'Status', 'Unnamed: 7'],
      dtype='object')

In [77]:
df_data.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,Time Period,Value,Status,Unnamed: 7
0,Advanced Economies,110,"Allocated Reserves, Claims in Japanese yen, US...",RAXGFXARJPY_USD,1999,7.345320e+10,NaN,NaN
1,Advanced Economies,110,"Allocated Reserves, Claims in Japanese yen, US...",RAXGFXARJPY_USD,2000,8.084009e+10,NaN,NaN
2,Advanced Economies,110,"Allocated Reserves, Claims in Japanese yen, US...",RAXGFXARJPY_USD,2001,6.838873e+10,NaN,NaN

In [78]:
df_data['Unnamed: 7'].unique()

array([nan])

In [79]:
df_data=df_data.drop(columns=['Status','Unnamed: 7'],axis=1)

In [72]:
df_data.head()

,Country Name,Country Code,Indicator Code,Time Period,Value,Reserve_Type,Detail_Reserve,Reserve_Unit
0,Advanced Economies,110,RAXGFXARJPY_USD,1999,7.345320e+10,Allocated Reserves,Claims in Japanese yen,US Dollars
1,Advanced Economies,110,RAXGFXARJPY_USD,2000,8.084009e+10,Allocated Reserves,Claims in Japanese yen,US Dollars
2,Advanced Economies,110,RAXGFXARJPY_USD,2001,6.838873e+10,Allocated Reserves,Claims in Japanese yen,US Dollars
3,Advanced Economies,110,RAXGFXARJPY_USD,2002,6.936254e+10,Allocated Reserves,Claims in Japanese yen,US Dollars
4,Advanced Economies,110,RAXGFXARJPY_USD,2003,8.072595e+10,Allocated Reserves,Claims in Japanese yen,US Dollars

In [80]:
df_data[['Reserve_Type','Detail_Reserve','Reserve_Unit']]=df_data['Indicator Name'].str.split(",",expand=True)
df_data=df_data.drop(columns=['Indicator Name'],axis=1)

In [81]:
df_data['Country Name'].unique()

array(['Advanced Economies', 'Emerging and Developing Economies', 'World'],
      dtype=object)

In [82]:
df_data['Reserve_Type'].unique()

array(['Allocated Reserves', 'Unallocated Reserves',
       'Total Foreign Exchange Reserves', 'Shares of Allocated Reserves',
       'Shares of Unallocated Reserves'], dtype=object)

In [83]:
World_Economy=df_data[df_data['Country Name'] == 'World']

In [84]:
World_Economy['Country Code'].unique()

array([1])

In [85]:
World_Economy=World_Economy.drop(columns=['Country Code'],axis=1)
World_Economy.columns

Index(['Country Name', 'Indicator Code', 'Time Period', 'Value',
       'Reserve_Type', 'Detail_Reserve', 'Reserve_Unit'],
      dtype='object')

In [86]:
World_Economy[['Time Period','Value','Reserve_Type','Detail_Reserve']].sort_values(['Time Period'],ascending=[True])

,Time Period,Value,Reserve_Type,Detail_Reserve
438,1995,7.007064e+10,Allocated Reserves,Claims in Japanese yen
641,1995,3.546137e+11,Unallocated Reserves,US Dollars
616,1995,5.041522e+10,Allocated Reserves,Claims in other currencies
1201,1995,2.551514e+01,Shares of Unallocated Reserves,Percent
1225,1995,1.575419e+01,Shares of Allocated Reserves,Shares of Deutsche mark
...,...,...,...,...
445,2019,6.520048e+11,Allocated Reserves,Claims in Japanese yen
1208,2019,6.341188e+00,Shares of Unallocated Reserves,Percent
416,2019,2.279471e+12,Allocated Reserves,Claims in euro
648,2019,7.499203e+11,Unallocated Reserves,US Dollars
1240,2019,1.936217e+00,Shares of Allocated Reserves,Shares of Chinese renminbi

In [133]:
currency_reserve=World_Economy[World_Economy.Reserve_Type.isin(['Allocated Reserves'])
                               & World_Economy.Detail_Reserve.str.contains('US Dollars')]
currency_reserve

,Country Name,Indicator Code,Time Period,Value,Reserve_Type,Detail_Reserve,Reserve_Unit
347,World,RAXGFXAR_USD,1999,1.379705e+12,Allocated Reserves,US Dollars,None
348,World,RAXGFXAR_USD,2000,1.518244e+12,Allocated Reserves,US Dollars,None
349,World,RAXGFXAR_USD,2001,1.569853e+12,Allocated Reserves,US Dollars,None
350,World,RAXGFXAR_USD,2002,1.795826e+12,Allocated Reserves,US Dollars,None
351,World,RAXGFXAR_USD,2003,2.222993e+12,Allocated Reserves,US Dollars,None
352,World,RAXGFXAR_USD,2004,2.654957e+12,Allocated Reserves,US Dollars,None
353,World,RAXGFXAR_USD,2005,2.843488e+12,Allocated Reserves,US Dollars,None
354,World,RAXGFXAR_USD,2006,3.321838e+12,Allocated Reserves,US Dollars,None
355,World,RAXGFXAR_USD,2007,4.122923e+12,Allocated Reserves,US Dollars,None
356,World,RAXGFXAR_USD,2008,4.209602e+12,Allocated Reserves,US Dollars,None
357,World,RAXGFXAR_USD,2009,4.583287e+12,Allocated Reserves,US Dollars,None
358,World,RAXGFXAR_USD,2010,5.155254e+12,Allocated Reserves,US Dollars,None
359,World,RAXGFXAR_USD,2011,5.643561e+12,Allocated Reserves,US Dollars,None
360,World,RAXGFXAR_USD,2012,6.085317e+12,Allocated Reserves,US Dollars,None
361,World,RAXGFXAR_USD,2013,6.223920e+12,Allocated Reserves,US Dollars,None
362,World,RAXGFXAR_USD,2014,6.800141e+12,Allocated Reserves,US Dollars,None
363,World,RAXGFXAR_USD,2015,7.413407e+12,Allocated Reserves,US Dollars,None
364,World,RAXGFXAR_USD,1995,1.035203e+12,Allocated Reserves,US Dollars,None
365,World,RAXGFXAR_USD,1996,1.226210e+12,Allocated Reserves,US Dollars,None
366,World,RAXGFXAR_USD,1997,1.273287e+12,Allocated Reserves,US Dollars,None
367,World,RAXGFXAR_USD,1998,1.282787e+12,Allocated Reserves,US Dollars,None
368,World,RAXGFXAR_USD,2016,8.418534e+12,Allocated Reserves,US Dollars,None
369,World,RAXGFXAR_USD,2017,1.001303e+13,Allocated Reserves,US Dollars,None
370,World,RAXGFXAR_USD,2018,1.072734e+13,Allocated Reserves,US Dollars,None
371,World,RAXGFXAR_USD,2019,1.107626e+13,Allocated Reserves,US Dollars,None

In [136]:
currency_reserve=currency_reserve[['Time Period','Value','Detail_Reserve']].sort_values(
    ['Time Period'],ascending=[True])
currency_reserve['Value']=(currency_reserve['Value']/(10**12))
currency_reserve=currency_reserve.set_index('Time Period')
st.table(currency_reserve)
currency_reserve

                 Value Detail_Reserve
Time Period
1995          1.035203     US Dollars
1996          1.226210     US Dollars
1997          1.273287     US Dollars
1998          1.282787     US Dollars
1999          1.379705     US Dollars
2000          1.518244     US Dollars
2001          1.569853     US Dollars
2002          1.795826     US Dollars
2003          2.222993     US Dollars
2004          2.654957     US Dollars
2005          2.843488     US Dollars
2006          3.321838     US Dollars
2007          4.122923     US Dollars
2008          4.209602     US Dollars
2009          4.583287     US Dollars
2010          5.155254     US Dollars
2011          5.643561     US Dollars
2012          6.085317     US Dollars
2013          6.223920     US Dollars
2014          6.800141     US Dollars
2015          7.413407     US Dollars
2016          8.418534     US Dollars
2017         10.013032     US Dollars
2018         10.727340     US Dollars
2019         11.076259     US Dollars

In [112]:
st.header("World Bank Reserve in USD")

In [113]:
st.subheader("Bar Plot")
currency_reserve.plot(kind='bar')
st.pyplot()

In [126]:
#joinplot
st.subheader("JointPlot")
sns.jointplot(x='Time Period',y='Value',data=currency_reserve,kind='scatter')
st.pyplot()

In [139]:
#Rugplot
st.subheader("Rugplot")
sns.rugplot(x='Time Period',y='Value',data=currency_reserve)
st.pyplot()

In [ ]:
sns.displot